<a href="/#users/<%= friend.id %>" class="title"><%= friend.escape('name') %> loved:</a>
<a href="#/books/<%= book.id %>"><h2><%= book.escape('title') %></h2></a>
<a href="#/books/<%= book.id %>"><img src="<%= book.escape('cover') %>"></a>
