<ul class="index friends">
  <h2>Users Index </h2>

  <% @users.each do |user| %>
    <% next if user == current_user %>
    <li><a href="<%= user_url(user) %>"><%= user.name %></a>

    <% if current_user && user.id != current_user.id %>
      <form action="<%= friendships_url %>" method="post">
        <input type="hidden" name="friendship[friend_id]" value="<%= user.id %>">
        <%= auth_token %>
        <input type="submit" value="Add as friend">
      </form>
    <% end %>
    </li>
  <% end %>
</ul>
