<header class="header group">
  <a href="<%= root_url %>" class="header-name">Shelf Life</a>

  <nav class="nav-header">
    <a class="explore" href="#books/new">Explore</a>
    <ul class="profile-nav">
      <% if signed_in? %>

      <form action="<%= session_url %>" method="post" class="group">
        <%= auth_token %>
        <a class="header-profile" href="#users/<%= current_user.id %>"><%= current_user.name.capitalize %></a>
        <input name="_method" type="hidden" value="delete">
        <button class="log-out">Sign Out</button>
      </form>
      <% else%>

      <form action="<%= new_user_url %>" method="get" class="group">
        <%= auth_token %>
        <button class="log-in">Sign Up</button>
      </form>
      <% end %>
    </ul>
  </nav>
</header>
