<!DOCTYPE html>
<html>
<head>
  <title>ShelfLife</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="header group">
		<a href="<%= root_url %>" class="header-name">Shelf Life</a>


		<nav class="nav-header">
			<a class="explore" href="<%= new_book_url %>">Explore</a>
			<ul class="profile-nav">
			  <% if signed_in? %>

			    <form action="<%= session_url %>" method="post" class="group">
			      <%= auth_token %>
						<a class="header-profile" href="<%= user_url(current_user) %>"><%= current_user.name.capitalize %></a>
			      <input name="_method" type="hidden" value="delete">
			      <button class="log-out">Sign Out</button>
			    </form>
				<% else%>

			    <form action="<%= new_user_url %>" method="get" class="group">
			      <%= auth_token %>
			      <button class="log-in">Sign Up</button>
			    </form>
			  <% end %>
			</ul>
	</nav>
</header>

<%= yield %>

</body>
</html>
